.row { 
    display:  flex;
  }
  .available-column {
    border: 1px solid black;
    border-radius: 25px;
    padding: 0px 10px 10px;
    margin: 20px;
  }
  
  .available-container {
    border: 1px solid black;
    border-radius: 25px;
    margin: 10px 0px 0px;
    padding: 10px;
  }
  
  .selected-column {
    border: 1px solid black;
    border-radius: 25px;
    padding: 0px 10px 20px;
    margin: 20px;
  }
  
  .selected-container {
    border: 1px solid black;
    border-radius: 25px;
    margin: 10px 0px 0px;
    padding: 10px;
  }
  
  .selected-heading {
    margin-bottom: 30px;
  }
  
  