.row { 
    display:  flex;
    align-items: center;
    justify-content: center;
}

.available-column {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 20px;
  width: 250px;
  height: 300px;
  box-shadow: 10px 10px 5px #aaaaaa;

}

.available-container {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0px 0px;
  padding: 10px;
  height: 180px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.selected-column {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 20px;
  width: 250px;
  height: 300px;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.selected-container {
  border: 1px solid black;
  border-radius: 5px;
  margin: 55px 0px 0px;
  padding: 10px;
  height: 180px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.selected-heading {
  margin-bottom: 30px;
}

.domain-container {
  display: flex;
}

.textfield-label {
  display: flex;
}

.company-email-list {
  margin-left: 44px;
}

.available-email-list {
  margin-bottom: 20px;
}

.selected-company-list {
  margin-left: 22px;
}

.selected-company-email-list {
  margin-left: 22px;
}

.selected-email-list {
  margin-left: 28px;
}